{% extends 'shop/basic.html' %}
{% block title %}  My Awesome Cart {% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h1> My AwesomeCart express Checkout .</h1>
        <h4>Review your cart items.</h4>
        <div>
            <ol class="list-group list-group-numbered " id="items">

            </ol>
        </div>
    </div>
    <div class="col my-4">
        <h1>Please fill you details here.</h1>
        <form action="" class="row g-3" method="post">
            {% csrf_token %}
            <input id="itemjson" name="itemjson" type="hidden">
            <div class="col-md-6">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" id="name" name="name" placeholder="name" type="text">
            </div>
            <div class="col-md-6">
                <label class="form-label" for="inputEmail4">Email</label>
                <input class="form-control" id="inputEmail4" name="email" placeholder="email" type="email">
            </div>

            <div class="col-12">
                <label class="form-label" for="address1">Address Line 1</label>
                <input class="form-control" id="address1" name="address1" placeholder="House No. / Street name"
                       type="text">
            </div>
            <div class="col-12">
                <label class="form-label" for="address2">Address Line 2</label>
                <input class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor"
                       type="text">
            </div>
            <div class="col-md-6">
                <label class="form-label" for="city">City</label>
                <input class="form-control" id="city" name="city" placeholder="city" type="text">
            </div>
            <div class="col-md-4">
                <label class="form-label" for="state">State</label>
                <input class="form-control" id="state" name="state" placeholder="State" type="text">

            </div>
            <div class="col-md-2">
                <label class="form-label" for="zip_code">Zip</label>
                <input class="form-control" id="zip_code" name="zip_code" type="text">
            </div>
            <div class="col-md-2">
                <label class="form-label" for="phone">Mobile number</label>
                <input class="form-control" id="phone" placeholder="Mobile number" type="tel">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Place Order</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));

    }
    console.log(cart);
    let count = 0;
    for (var item in cart) {
        let name = cart[item][1];
        let qty = cart[item][0];
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold" >${name}</div>
<!--                        Content for list item-->
                    </div>
                    <span class="badge bg-primary rounded-pill" >${qty}</span>
                </li>`
        $('#items').append(mystr);

    }
    $('#itemjson').val(JSON.stringify(cart));
    {%if thank %}
    alert('Thanx for ordering with us you order id is {{id}}.')
    localStorage.clear();
    document.location = "/";
    {% endif %}
    updateCart(cart)
     function updateCart(cart) {
        var sum = 0;
        for (var item in cart) {
            sum = sum + cart[item][0];
            // document.getElementById('span' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button><span id='val" + item + "'>" + cart[item][0] + "</span><button id='plus" + item + "' class='btn btn-primary plus'>+</button>";
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = sum;
        // updatePopover(cart);
    }
</script>
{% endblock %}
